<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenshuyusc.TJUstudents.dao.CoursesMapper">
  <resultMap id="BaseResultMap" type="com.chenshuyusc.TJUstudents.model.Courses">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cid" jdbcType="CHAR" property="cid" />
    <result column="cname" jdbcType="CHAR" property="cname" />
    <result column="teacher" jdbcType="CHAR" property="teacher" />
    <result column="credit" jdbcType="DOUBLE" property="credit" />
    <result column="suitgrade" jdbcType="INTEGER" property="suitgrade" />
    <result column="cancelyear" jdbcType="INTEGER" property="cancelyear" />
  </resultMap>
</mapper>